body {
	background-image: url(greybackground.jpg);
}
#links{
	text-align: center;
	color: white;
}
img {
	height: 200px;
	width: 275px;
}
h1 {
	color: blue;
	text-align: center;
}
h5 {
	color: white;
	text-align: center;
}
p, li, pre {
	color: white;
}
h2 {
	color: blue;
}
